body {
  background-color: grey;
}
.title {
  text-align: center;
  text-decoration-style: wavy;
  text-emphasis-color: blue;
}
.labs {
  border: black solid 2px;
  width: 40%;
  padding-left: 20px;
  font-size: 24px;
  font-weight: bold;
}
