.row {
  display: block;
  column-count: 3;
  border-style: solid;
}

.row p {
  padding-left: 15px;
}

.row h2 {
  text-decoration: underline;
  text-decoration-color: white;
  padding-left: 15px;
  padding-top: 15px;
}

.column-a {
  margin-top: -15px;
}

#jsbox {
  border-style: solid;
  padding-left: 15px;
  padding-bottom: 15px;
  width: 500px;
  margin-top: 20px;
  display: block;
}

#jsbox h3 {
  color: blue;
}

body {
  margin-left: 15px;
  margin-top: 15px;
}
