h1 {
  color: #2baab5;
  text-align: center;
  text-shadow: 1px 1px;
}

h2 {
  color: #E7E7E7;
}


.text-infront-button {
  color: #E7E7E7;
  font-style: serif;
  font-size: 20px;
  border-style: solid;
  width: 30%;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.fancy-button {
  /* font-size: 3em; */
  background-color: #444;
  color: white;
  font-family: serif;
  font-size: 20px;
  width: 10%;
  height: 20%;
  margin-top: 5px;
}
