h1 {
  color: #2baab5;
  text-align: center;
  text-shadow: 1px 1px;
}

h2 {
  color: #E7E7E7;
}

#output-box {
  border-style: solid;
  padding-left: 15px;
  padding-bottom: 15px;
  width: 500px;
  margin-top: 20px;
  display: block;

}
